altium/cad/
altium/schematics/Project\ Logs\ for\ UCLA-DRS4-2.1/
DRS_V2.1/UCLA-DRS4-V2/schematics/Project\ Outputs\ for\ UCLA-DRS4-2.1/
mfg/gerber/
pdf/
altium/schematics/__Previews/
altium/schematics/History/