altium/cad/
altium/schematics/Project\ Logs\ for\ UCLA-DRS4-2.1/
altium/schematics/Project\ Outputs\ for\ UCLA-DRS4-2.1/
altium/schematics/*.pdf
mfg/gerber/
pdf/
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
**/History
**/__Previews
*.PCBDwf
*.OutJob
*.xls