DRS_V2.1/Output\ Files/CAD/
DRS_V2.1/Output\ Files/Gerber/
DRS_V2.1/Output\ Files/Schematic_PDF/
DRS_V2.1/UCLA-DRS4-V2/schematics/Project\ Logs\ for\ UCLA-DRS4-2.1/
DRS_V2.1/UCLA-DRS4-V2/schematics/__Previews/
DRS_V2.1/UCLA-DRS4-V2/schematics/History/

